# Cartelle di build Maven
target/

# IDE ed Editor
.idea/
*.iml
.classpath
.project
.settings/
.vscode/

# Database locale H2 e log
*.db
*.log
.h2.server.properties

# Cartelle temporanee di packaging
jpackage-input/
dist/